.card-footer{
    background-color: #808080;
}
.header-title{
    background-color: #808080;
}
.offer_title {
    padding-top: 11px;
    color: #303030;
    font-size:1.9rem;
    font-family: 'Montserrat', sans-serif;
    line-height:20px;
    letter-spacing: -0.06em;
    font-weight: 700;
}

.card-footer ul {
    padding: 0;
    list-style: none;
    color: #444444;
    line-height: 20px;
    font-size: 14px;
  }
  
 
  
  .card-footer ul i {
    color: #0880e8;
    font-size: 18px;
    padding-right: 4px;
  }
  
  .card-footer ul .no {
    color: #ccc;
    text-decoration: line-through;
  }